/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 avr. 2016, 14:04:52
    Author     : HP
*/






body{

	float: left;
	width: 100%;
	background: url(../images/07963177-photo-e-commerce.jpg) no-repeat top center;
	background-size: 100% auto;
	background-attachment: fixed;


}
 div.background {
    width: 150px;
    height: 70px;

}
 div.back {
 
    width: 100px;
    height: 70px;
 
}

.top_search{
width:370px;
height:32px;
margin:0px 20px 0 0;
_margin:0px 10px 0 0;
float:right;

}

.footer {
	color: white;
	font-size: 12px;
	padding-right: 0;
}
.copyright {
	color: #fff;
	font-size: 11px;
	margin-bottom: 0;
	text-align: right;
	padding: 30px 0;
}

.copyright a {
	color: #fff;
}
.copyright a:hover {
	color: #FF0;
}

a:link, a:visited {

    color:black;
   
    text-transform: capitalize;
    text-decoration: none;
   
}
a:hover {
    text-decoration: underline;
    
    color:  grey;

}



   
title{
    text-align: justify ; 
    color: chocolate ;
    font-style: oblique;
}
 

