<html>
    <body>
    <link rel="stylesheet"  href="{{ asset('bundles/acmedemo/css/accueil.css') }}" type="text/css" />
        <link rel="stylesheet"  href="{{ asset('bundles/acmedemo/css/button.css') }}" type="text/css" />
          <div id="entete" style="background-color:gray;  height:70px" >
              {% block entete %}
                
<table align="right">      
    
    <tr>
        
<td><a href="accueil" target="_blank"><i>Back</i></a></td>
  
                
    </tr>
    </table>
{% endblock %}
</div>
              <div id="content" style="height:500px" > 
                  {% block content %}
                  <link rel="stylesheet"  href="{{ asset('bundles/acmedemo/css/bgi.css') }}" type="text/css" />
                
                  {% endblock %}
                  </div>
                  
                  
                  
                  <div id="footer" style="background-color :gray;text-align:center;clear:both ; height:100px ">
                      {% block footer %}
        <p  style="text-align: justify ; color: white  ;text-align: justify; font-style: oblique">Tous droits réservés </p>
    {% endblock %}
                      </div>
        </body>
    </html>
